.footer {
    background-color: rgb(71,10,104);// map-get($colors, sinergia);
    height: 8%;
    background-image: url("../../assets/img/img_footer.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
